[submodule "external/RocmKernelWiki"]
	path = external/RocmKernelWiki
	url = https://github.com/sabreshao/RocmKernelWiki.git
	branch = master
[submodule "external/rocprof-report-skill"]
	path = external/rocprof-report-skill
	url = https://github.com/sabreshao/rocprof-report-skill
	branch = develop
