[submodule "external/KernelWiki"]
	path = external/KernelWiki
	url = https://github.com/sabreshao/RocmKernelWiki.git
	branch = kernelpilot-knowledge-expansion
[submodule "external/ncu-report-skill"]
	path = external/ncu-report-skill
	url = https://github.com/sabreshao/RocmKernelWiki.git
	branch = main
